.navbar-brand{
	color:#ffff !important;
}
    
    
.bg-light{
        background: rgb(207, 90, 47) !important;
        color:#fff !important;
    }


#cart-icon{
        margin-right:15px;
        display:inline-block;
        width:25px;
        
    }


    .nav-link{
        color:#fff !important;
    }
    .pics p{
        display:flex;
        width:-webkit-fill-available;
        background: gray !important;
    }
 p a:hover{
        background:blue;
        color:blue;
    }
    /*for images */
    .bimage{
        width:fit-content;

    }
    @media(max-width:700px){
        .bimage{
            width:-webkit-fill-available;
        
        }
    }
    
/* for footer */
#container {
    width:100%;
      background: rgb(14, 13, 13);
      box-sizing: border-box;
      margin-top: 20px;
      border-top: 3px solid rgb(40, 38, 38);
    
    
    }
    .column {
      text-align: start;
      display: inline-block;
      padding: 10px;
    }
    @media(max-width:500px){
      .column {
        text-align:start;
        display:block;
        padding: 10px;
    }
    #container{
      text-align: start;
    }
     ul li{
      text-align: center;
    }
  }
    .column h4 {
      font-family: sans-serif;
      color:rgb(207 90 47);
      font-size: 25px;
      text-align:start;
      text-transform: capitalize;
    }
    .column ul {
      
      list-style: none;
      padding-right: 10px;
    }
    .column ul li {
      color:#fff;
      text-transform: capitalize;
      font-size: medium;
      padding-bottom: 10px;
    
     
    }
    .column ul li a {
      text-decoration: none;
      color: white;
    }
    .column ul li a:hover {
      padding-right:10px;
      padding-left:10px;
      color:#fff;
      background: rgb(207 90 47);;
      border-radius: 30px;
      font-size: 15px;
    }
    /* end of footer */
    .con{
        margin:15px;
    }
    #bar{
        padding:20px;
        display:inline-flex;
        box-sizing: border-box;
        text-align:center;

    }
    #bar a{
      text-decoration: none;
      /*flex:2;*/
      color: #fff;
      padding-right:20px;
      text-align:center;
       
    }
    hr{
      
    margin-right: 20px;
    padding: 2;
    margin-left: 20px;
    background: #2a292a;
}
@media(max-width:1050px){
  #bar{
    text-align:center;
    padding:20px;
    display:inline-block;

}
}